html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', -apple-system, sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: none;
}

/* #check {
  display: none;
  -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#check-label {
  display: block;
  cursor: pointer;
  width: 60px;
  height: 60px;
  max-width: 70px;
  max-height: 70px;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#check-label:focus, #check-label:active, #check-label:focus-within {
  background: transparent;
  outline: none !important;
}

@media (min-aspect-ratio: 1/1) {
  #check-label {
    width: 20vh;
    height: 20vh;
  }
}

path {
  fill: none;
  stroke: #000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all .8s cubic-bezier(.645, .045, .355, 1);
}

.cross #check:checked+svg .line--1,
  .cross #check:checked+svg .line--3 {
    --length: 22.627416998;
  }

.cross #check:checked+svg .line--2 {
    --length: 0;
  }

.back #check:checked+svg .line--1,
  .back #check:checked+svg .line--3 {
    --length: 2.602325267;
  }

.menu--1 .line--1,
  .menu--1 .line--3 {
    --total-length: 126.64183044433594;
  }

.menu--1 .line--2 {
    --total-length: 70;
  }
.men--1 .line--2 {
  --offset: -28 !important;
}

.menu--1 #check:checked+svg .line--1,
    .menu--1 #check:checked+svg .line--3 {
      --offset: -94.1149185097;
    }

.menu--1 #check:checked+svg .line--2 {
      --offset: -50;
    } */
